<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="Styles/main.css" />
        <title>Title</title>
    </head>
    <body>
    
	    <h1>Welcome to Our Awesome Site!</h1>
	    <h3>Subscribe to our List. Sign-up below!</h3>
	    <h4>This form does not work! Purely Aesthetic!</h4>
	     <h4>Look at this picture!</h4>

        
        <form class="formStyle">
        	<table>
        		<tr>
        			<input type="password" name="username">
  					<label for="username">Username</label><br>
        		</tr>
        		<tr>
        			<input type="password" name="password">
  					<label for="password">Password</label><br>
        		</tr>
        		<tr>
        			<button type="submit" method="post">Submit</button> 					
        		</tr>       	
        	</table>     
        </form>
        

        <script src="index.js"></script>
    </body>
</html>